.container
	%h1
		= @semester.name

	.row.text-success#notice= notice

	= render 'form', disabled: true

	.row
		= link_to 'Edit', edit_semester_path(@semester), class: [:btn, :'btn-primary', :'col-xs-2']
