.col-md-6
  %h2
    Discounts
  %table.table.table-hover
    %thead
      %tr
        %th
          Discount
        %th
          Amount
    %tbody
      %tr
        %td
          Early Bird
        %td
          \-
          = number_to_currency(@early_bird_sum)
      - unless @euro == 0
        %tr
          %td
            Windsor Euro
          %td
            \- 
            = number_to_currency(@euro)
      - if @semesters.count > 1
        %tr
          %td
            Multiple Semesters
          %td
            \-
            = number_to_currency(@multiple_semesters_sum)
    %tfoot
      %tr
        %td
          %strong
            Total
        %td
          %strong
            \-
            = number_to_currency(@discounts_total)
