.container 

	- if @sqlContract.present?
		= debug @sqlContract
	%h1
		Personal Information
	%form(action='/renew' method='get')
		%label(class="col-md-2 control-label")
			First Name
		.col-md-4{ class: 'required' }
			%input(type="text" name="first_name" id='first_name' class="form-control col-md-5")
		%label(class="col-md-2 control-label")
			Last Name
		.col-md-4{ class: 'required' }
			%input(type="text" name="last_name" id='last_name' class="form-control col-md-5")
		%label(class="col-md-2 control-label")
			Email
		.col-md-4{ class: 'required' }
			%input(type="email" name="email" id='email' class="form-control col-md-5")
			%input(type="submit" value="submit")