.container
	%h1 Listing contract_texts

	%table.table.table-hover
		%thead
			%th
				Contract Creation
			%th
		%tbody
			- @contract_texts.each do |contract_text|
				%tr
					%td
						= link_to contract_text.created_at.to_formatted_s(:long), contract_text
					%td
						= link_to 'Destroy', contract_text, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: [:btn, :'btn-danger']

	%br

	= link_to 'New Contract text', new_contract_text_path, class: [:btn, :'btn-primary']
