.col-xs-12.col-sm-6.col-md-4.col-lg-3
	.thumbnail
		/ # For whatever reason, cloudinary's built-in cl_image_tag() helper 
		/ # doesn't work. It seems like our controller isn't parsing the image 
		/ # id correctly, but I don't know how to fix it just yet. Current hack
		/ # is to just hardcode the cloudinary URL and append the image_id.
		-if apartment.image_id
			= image_tag "http://res.cloudinary.com/business-development-center/" + apartment.image_id, class: :image
		.caption
			%h2
				= apartment.title
			%p
				= apartment.description
- if apartment_counter % 4 == 3
	.clearfix.hidden-xs.hidden-md.hidden-sm.visible-lg-block
- if apartment_counter % 3 == 2
	.clearfix.hidden-xs.visible-md-block
- if apartment_counter % 2 == 1
	.clearfix.hidden-xs.visible-sm.hidden-md.hidden-lg
