.container-fluid
  #choose-gender.row
    /= link_to new_contract_path(@mens), id: ['mens-link'] do
    #mens-link
      .choose-tag.choose-left
        .arrow-left
        %p Men's Housing
      = image_tag 'studentsgrp.png', class: [:choose]
    /= link_to new_contract_path(@womens), id: ['womens-link'] do 
    #womens-link
      .choose-tag.choose-right
        %p Women's Housing
        .arrow-right
      = image_tag 'studentstbl.png', class: [:choose]

  #choose-floor.choose-section
    .choose-section-title
      %h1 Choose your floor
    #bldg-map.imgmap-container
      = image_tag 'building_no_labels.png', class: [:'']
      #floor4.map-overlay{:alt => "Floor 4", :title => "Floor 4"}
        %p
          Floor 4
      #floor3.map-overlay{:alt => "Floor 3", :title => "Floor 3"}
        %p
          Floor 3
      #floor2.map-overlay{:alt => "Floor 2", :title => "Floor 2"}
        %p
          Floor 2
      #floor1.map-overlay{:alt => "Floor 1", :title => "Floor 1"}
        %p
          Floor 1
      
  #choose-apt.choose-section
    .col-md-12
      %h1 Choose your apartment layout
    #floor-map.imgmap-container
      #floor-blueprint
      #layout-overlays
      
  #choose-bed.choose-section
    .col-md-12
      %h1 Choose your bed
    #floor-map.imgmap-container
      
    .col-md-12
      .btn.btn-primary Continue

      
  %hr/
  %footer
    %p.text-center &copy; Windsor Manor 2014