.container-fluid
  #choose-main.row
    = link_to new_contract_path(@mens) do
      .choose-tag.choose-left
        .arrow-left
        %p Men's Housing
      = image_tag 'studentsgrp.png', class: [:choose]
    = link_to new_contract_path(@womens) do 
      .choose-tag.choose-right
        %p Women's Housing
        .arrow-right
      = image_tag 'studentstbl.png', class: [:choose]
