.container-fluid
  #choose-gender.row
    /= link_to new_contract_path(@mens), id: ['mens-link'] do
    #womens-link
      .choose-tag.choose-left
        .arrow-left
        %p Women's Housing
      = image_tag 'studentsgrp.png', class: [:choose]
    /= link_to new_contract_path(@womens), id: ['womens-link'] do 
    #mens-link
      .choose-tag.choose-right
        %p Men's Housing
        .arrow-right
      = image_tag 'studentstbl.png', class: [:choose]

  #choose-floor.choose-section
    .choose-section-title
      %h1 
        %span.bk-btn.btn.btn-default.btn-sm{:type => "button"}
          /%span.glyphicon.glyphicon-chevron-left
          Back
        Choose your floor
    #bldg-map.imgmap-container
      #bldg-blueprint
      #layout-overlays-bldg
      
  #choose-apt.choose-section
    .col-md-12
      %h1
        %span.bk-btn.btn.btn-default.btn-sm{:type => "button"}
          /%span.glyphicon.glyphicon-chevron-left
          Back
        Choose your apartment
    #floor-map.imgmap-container
      #floor-blueprint
      #layout-overlays-apt
      
  #choose-bed.choose-section
    .col-md-12
      %h1
        %span.bk-btn.btn.btn-default.btn-sm{:type => "button"}
          /%span.glyphicon.glyphicon-chevron-left
          Back
        Choose your bed
    #apt-map.imgmap-container
      #bed-blueprint
      #layout-overlays-bed
      
  #choose-conf.choose-section
    .col-md-12
      %h1
        %span.bk-btn.btn.btn-default.btn-sm{:type => "button"}
          /%span.glyphicon.glyphicon-chevron-left
          Back
        Please confirm your choices
      .col-md-4.col-md-offset-4
        %form#conf-form{:role => "form"}
          .form-group
            %label{:for => "genderChoice"} Women's or Men's
            %input#genderChoice.form-control{:type => "text"}/
          .form-group
            %label{:for => "floorChoice"} Floor
            %input#floorChoice.form-control{:type => "text"}/
          .form-group
            %label{:for => "aptChoice"} Apartment Number
            %input#aptChoice.form-control{:type => "text"}/
          .form-group
            %label{:for => "bedChoice"} Bed
            %input#bedChoice.form-control{:type => "text"}/
          %input#genderNum{:type => "hidden"}/
          %button.btn.btn-primary{:type => "submit"} Proceed to Checkout

      
  %hr/
  %footer
    %p.text-center &copy; Windsor Manor 2014