/location
.thumbnails
	.row
		%h2 Location
	.row-fluid
		.col-md-1
		.map_canvas
			%iframe(src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d2878.605594295983!2d-111.78286977494592!3d43.82253973907569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e6!4m5!1s0x53540baaed05b31d%3A0xb36d87b9f4e809a1!2sBYU-Idaho+Viking+Stadium%2C+525+S+Center+St%2C+Rexburg%2C+ID+83460!3m2!1d43.820937!2d-111.786436!4m5!1s0x53540a5677d669bf%3A0x37dd47f3ba4489bb!2s101+S+2nd+E%2C+Rexburg%2C+ID+83440!3m2!1d43.823909!2d-111.77806489999999!5e0!3m2!1sen!2sus!4v1409680948538" width="600" height="450" frameborder="0" style="border:0")
		.col-md-1
		.col-md-4
			%h2
				101 East, 2nd South Rexburg, Idaho 83440

/ amenities
.thumbnails
	.row
		%h2 Amenities
	.row-fluid
		= render partial: 'amenity', collection: @amenities

/ gallery
.thumbnails
	.row
		%h2 Gallery
	.row-fluid
		= render partial: 'gallery', collection: @galleries