.container-fluid
	= render 'landing/availability_bar'
	.row
		.col-md-12
			%h4
				Apartment Pricing:   The costs listed below are per bed in a shared bedroom. Each bedroom has a private bath and a large walk-in closet. Every apartment has an oversized washer and dryer. Contracts include all utilities plus high speed internet, free on-site exercise classes, convenient on-site fully equipped gym, free long term storage when you are off track, and an unbeatable location.
.container
	.row
		.contract-tbl-title
			%h3
				Men's & Women's Apartment Pricing &nbsp;&nbsp;&nbsp;
				%span.small
					\(8 and 6 person units are priced the same\)
		.col-md-12
			.table-responsive
				%table.table
					%thead
						%tr
							%th
								&nbsp;
							%th
								Early Bird - 3 Months
							%th
								Early Bird - 2 Months
							%th
								No Early Bird
					%tbody
						%tr
							%th
								Payment Semester 1
						%tr
							%td
								Contract Price
							%td
								$1445
							%td
								$1445
							%td
								$1445
						%tr
							%td
								Windsor Euro
							%td
								\-$50
							%td
								\-$50
							%td
								\-$50
						%tr
							%td
								Early Bird
							%td
								\-$40
							%td
								\-$20
							%td
								$0
						%tr
							%th
								Total
							%th
								$1355
							%th
								$1375
							%th
								$1395
						%tr
							%td
								&nbsp;
						%tr
							%th
								Payment Semester 2
						%tr
							%td
								Contract Price
							%td
								$1445
							%td
								$1445
							%td
								$1445
						%tr
							%td
								Windsor Euro
							%td
								\-$95
							%td
								\-$95
							%td
								\-$95
						%tr
							%td
								Early Bird
							%td
								\-$10
							%td
								\-$10
							%td
								$0
						%tr
							%th
								Total
							%th
								$1340
							%th
								$1340
							%th
								$1350
						%tr
							%td
								&nbsp;
						%tr
							%th
								Payment Semester 3
						%tr
							%td
								Contract Price
							%td
								$1445
							%td
								$1445
							%td
								$1445
						%tr
							%td
								Windsor Euro
							%td
								\-$105
							%td
								\-$105
							%td
								\-$105
						%tr
							%td
								Early Bird
							%td
								\-$10
							%td
								\-$10
							%td
								$0
						%tr
							%th
								Total
							%th
								$1330
							%th
								$1330
							%th
								$1340
	.row
		.contract-tbl-title
			%h3
				Early Bird Dates
		.col-md-12
			.table-responsive
				%table.table
					%thead
						%tr
							%th
								&nbsp;
							%th
								3 Months
							%th
								2 Months
					%tbody
						%tr
							%td
								Winter 2015
							%td
								10/3/14
							%td
								11/3/14
						%tr
							%td
								Spring 2015
							%td
								1/17/15
							%td
								2/17/15
						%tr
							%td
								Fall 2015
							%td
								6/11/15
							%td
								7/11/15
	.row
		.contract-tbl-title
			%h3
				Semester Break Pricing
		.col-md-12
			.table-responsive
				%table.table
					%thead
						%tr
							%th
								Break
							%th
								1 Semester Contract
							%th
								2 Semester Contract
							%th
								3 Semester Contract
					%tbody
						%tr
							%td
								7 Week Break
							%td
								$350
							%td
								$200
							%td
								Free
						%tr
							%td
								Christmas Break
							%td
								$120
							%td
								Free
							%td
								Free
	.row
		.contract-tbl-title
			%h3
				Parking Pricing
		.col-md-12
			.table-responsive
				%table.table
					%thead
						%tr
							%th
								&nbsp;
							%th
								Semester 1
							%th
								Semester 2
							%th
								Semester 3
					%tbody
						%tr
							%td
								Covered
							%td
								$100
							%td
								$85
							%td
								$75
						%tr
							%td
								Non-Covered
							%td
								$50
							%td
								$40
							%td
								$35
						%tr
							%td
								Covered Tandem
							%td
								$75
							%td
								$65
							%td
								$60
						%tr
							%td
								Non-Covered Tandem
							%td
								$35
							%td
								$30
							%td
								$25