.container
  %h1
    Admin Dashboard

  = link_to 'View Contracts', contracts_path, class: ['btn', 'btn-primary', 'btn-large']
  = link_to 'Set Marketing Text', edit_text_path, class: ['btn', 'btn-primary', 'btn-large']
