.thumbnails
	.row
		%h2 Gallery
      
	.row-fluid
		= render partial: 'gallery', collection: @galleries

		/= render layout: 'static/gallery', locals: {image: 'study-room.jpg'} do
		/	%h3
		/		Private Study Rooms
		/	%p
		/		The world is noisy. Neighbors chatter, roommates play video games, and that random person across the street blares his stereo every weekend.
		/	%p
		/		Normally, you like to join in. But duty calls every so often, and the homework has to be done. Think quietly in the private room you reserved; then come back and join the party.

		/= render layout: 'static/gallery', locals: {image: 'private-bathroom.jpg'} do
		/	%h3
		/		Private Bathrooms
		/	%p
		/		It's 8:53 AM. You slept through your alarm, and class starts in less than 10 minutes. Your rush out of your room, but your roommates hog the bathroom. Not happening.
		/	%p
		/		Here, every bedroom has a private bathroom. No lines. No wait. Just you, your hairbrush, and that awesome person who looks back in the mirror.

		/= render layout: 'static/gallery', locals: {image: 'exercise-room.jpg'} do
		/	%h3
		/		Exercise Room

		/= render layout: 'static/gallery', locals: {image: 'fire-pit.jpg'} do
		/	%h3
		/		Beautiful Fire Pit
