.container
  .row
    .col-md-12
      %h1 New study_reservation
  .row
    .col-md-12
      = render 'form'
  %br
  %br
  .row
    .col-md-12
      = link_to 'Back', study_reservations_path, class: ['btn', 'btn-default']
