$nav-height: 135px;

.navbar
{
	background: whitesmoke;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	padding-bottom: 30px;
}

.navbar-header .navbar-brand
{
  img {
    height: $nav-height;
    margin-top: -10px;
  }
  
  & > * {
    float: left;
  }
}

.main 
{
	margin-top: $nav-height + 15;
}
