$choose-tag-width: 200px;
$theme-dblue: #24284D;
$theme-lblue: #24284D;
$theme-dgrey: #2B2B2B;
$theme-lgrey: #9A9C99;
$theme-dburgandy: #3D0101;
$theme-lburgandy: #591616;
$theme-dgreen: #5f7319;
$theme-lgreen: #98b855;

h1 {
  color: $theme-dgrey;
}

.back-dblue {
  background: $theme-dblue;
}

.back-lgrey {
  background: $theme-lgrey;
}

.back-dgrey {
  background: $theme-dgrey;
}

.back-lburgandy {
  background: $theme-lburgandy;
}

.cir-div {
  padding: 30px;
  cursor: pointer;
  
  &:hover {
    opacity: 0.8;
  }
}

.cir-div-inner {
  padding: 10px;
  border-radius: 50%;
  background: white;
  width: 150px;
  height: 150px;
  
  h1 {
    margin-top: 45px;
  }
}

.btn-primary
{
	background-image: linear-gradient(to bottom, $theme-lgreen 0%, $theme-dgreen 100%);
	background-repeat: repeat-x;
	border-color: $theme-dgreen;
	
	&:hover
	{
		background-color: $theme-dgreen;
		border-color: $theme-dgreen;
	}
}

.cntr
{
	margin: 0 auto;
	display: block;
}

#choose-gender > * {
  float:left;
  width:50%;
  
  &:hover > img {
    opacity: 0.3;  /*TODO: for some reason this is producing an invers opacity on the choose-tag */
    filter: alpha(opacity=30); /* For IE8 and earlier */
  }
}

img.choose
{
	width:100%;
}

.choose-tag {
  top: 240px;
  position: absolute;
  width: $choose-tag-width;
  color: white;
  padding: 10px;
  margin: 15px;
  
  &.choose-left {
    float: right;
    right: 50%;
    
    & > * {
      float: left;
    }
    
    p {
      background: #24284D;
      text-align: right;
      padding: 10px;
      width: $choose-tag-width - 35;
    }
  }
  
  &.choose-right {
    & > * {
      float: left;
    }
    
    p {
      background: #591616;
      padding: 10px;
    }
  }
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #f00;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 15px solid #591616;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	border-right:15px solid #24284D; 
}

.bold
{
	color: red;
}

#make_reservation
{
	padding-top: 15px;
	padding-bottom: 15px;
}

@mixin sepia($amount)
{
	-webkit-filter: sepia(.3);
	-o-filter: sepia(.3);
	-moz-filter: sepia(.3);
	-ms-filter: sepia(.3);
}
