.btn-primary
{
	background-image: linear-gradient(to bottom, #98b855 0%, #5f7319 100%);
	background-repeat: repeat-x;
	border-color: #5f7319;
	
	&:hover
	{
		background-color: #5f7319;
		border-color: #5f7319;
	}
}

.cntr
{
	margin: 0 auto;
	display: block;
}

img.bordered
{
	border-color: black;
	border-width: 1px;
	border-style: solid;

	height: 319px;
}
