$choose-tag-width: 200px;

.btn-primary
{
	background-image: linear-gradient(to bottom, #98b855 0%, #5f7319 100%);
	background-repeat: repeat-x;
	border-color: #5f7319;
	
	&:hover
	{
		background-color: #5f7319;
		border-color: #5f7319;
	}
}

.cntr
{
	margin: 0 auto;
	display: block;
}

#choose-main > * {
  float:left;
  width:50%;
  
  &:hover > img {
    opacity: 0.3;  /*TODO: for some reason this is producing an invers opacity on the choose-tag */
    filter: alpha(opacity=30); /* For IE8 and earlier */
  }
}

img.choose
{
	width:100%;
}

.choose-tag {
  top: 240px;
  position: relative;
  width: $choose-tag-width;
  color: white;
  padding: 10px;
  margin: 15px;
  
  &.choose-left {
    float: right;
    
    & > * {
      float: left;
    }
    
    p {
      background: #24284D;
      text-align: right;
      padding: 10px;
      width: $choose-tag-width - 35;
    }
  }
  
  &.choose-right {
    & > * {
      float: left;
    }
    
    p {
      background: #591616;
      padding: 10px;
    }
  }
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #f00;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 15px solid #591616;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	border-right:15px solid #24284D; 
}