// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font: 'Ovo', serif;
body, html
{
	background-color: #9A9C99;
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100% 675px;
	color: #2B2B2B;
	height: 100%;
}

.cntr
{
	margin: 0 auto;
	display: block;
}

.fit-width
{
	width: -moz-fit-content;
	width: -webkit-fit-content;
}

#tagline
{
	width: 35%;
}

$availability-height: 100px;
$avail-marg: 35px;
$marketing-height: $availability-height * .75;
$marketing-marg: 21px;
.availability-bar
{
	@extend .row;
	background-color: #591616;
	min-height: $availability-height;
	font-family: $font;
	color: white;

	.check-text
	{
		@extend .col-xs-3;
		font-size: 220%;
		margin-top: $avail-marg;
	}

	& > div
	{
		color: white;
	}

	& > div:not(.btn-blocky)
	{
		padding-top: 10px;
	}

	& > .gender-icon:hover:not(.btn-blocky) {
		background: rgba(255,255,255,0.3);
	}

	#sem-select {
		margin-top: $avail-marg;
		font-weight: bold;
	}
}

.marketing-bar
{
	@extend .availability-bar;

	.marketing-text
	{
		@extend .col-xs-12;
		font-size: 220%;
		margin-top: $avail-marg;
		text-align: center;
	}
}

.gender-icon
{
	float: left;
	text-align: center;
	cursor: pointer;
	height: $availability-height;

	img 
	{
		height: 60px;
	}
}

.btn-blocky
{
	border-radius: none;
	height: $availability-height;
	margin: 0;
	font-size: 120%;

	p
	{
		margin-top: 30px;
	}
}

.success
{
	background-color: #5f7319;
	cursor: pointer;
}

.failure
{
	background-color: red;
}

.inner-tile
{
	background: white;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	margin-top: 10px;
	//margin: 5px 0px 5px 0px;
	padding: 10px;

	& > h3, & > p
	{
		margin: 10px auto;
		text-align: center;
		font-family: $font;
	}

	& > button
	{
		margin-top: 50px;
	}
}

.circular
{
	width: 115px;
	height: 115px;
	border-radius: 60px;
	box-shadow: 0 0 8px rgba(0,0,5px,0.5);
	margin: 20px auto 35px;
}

.cir-img-complex
{
	background: image-url('building_art.jpg') no-repeat;
	background-size: 250px;
	background-position: center;
}

.cir-img-apartments
{
	background: image-url('large_apt.jpg') no-repeat;
	background-size: 250px;
	background-position: center;
}

.cir-img-amenities
{
	background: image-url('amenities_example.jpg') no-repeat;
	background-size: 250px;
	background-position: center;
}

.cir-img-reservations
{
	background: image-url('reserv_img.jpg') no-repeat;
	background-size: 250px;
	background-position: center;
}

.cir-img-tenants
{
	background: image-url('tenants_img.jpg') no-repeat;
	background-size: 250px;
	background-position: center;
}

.cir-img-gallery
{
	background: image-url('gallery_img.jpg') no-repeat;
	background-size: 250px;
	background-position: center;
}

#news, #social
{
	margin-top: 50px;
}

.opaque
{
	background-color: #9A9C99;
}

#session
{
	#margin-top: 25px;
}

.tiles
{
	margin-top: 0%;
}

.image > img
{
	//max-height: 60%;
	padding: 0;
	width: 100%;
	-webkit-filter: sepia(.3);
	-o-filter: sepia(.3);
	-moz-filter: sepia(.3);
	-ms-filter: sepia(.3);
}

.marketing-text
{
	min-height: $marketing-height;
	margin: 0;
	//margin-top: 5px;

	& > h3
	{
		margin-top: $marketing-marg;
		text-align: center;
	}
}

.opaque
{
	background-color: white;
	height: 100%;
}

.full-page
{
	padding: 10px;
}

.thumbnail .image
{
	@extend .img-responsive;
}

.thumbnails
{
	@extend .container;
	margin-top: 20px;
}

.dashboard
{
	@extend .container;
	height: 50%;
	background-color: whitesmoke;
}

