// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font: 'Ovo', serif;
body, html
{
	background-color: #EDEDED;
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100% 675px;
	color: #2B2B2B;
	height: 100%;
}

.cntr
{
	margin: 0 auto;
	display: block;
}

.fit-width
{
	width: -moz-fit-content;
	width: -webkit-fit-content;
}

#tagline
{
	width: 35%;
}

$availability-height: 100px;
$avail-marg: 35px;
$marketing-height: $availability-height * .75;
$marketing-marg: 21px;
.availability-bar
{
	@extend .row;
	background-color: #591616;
	min-height: $availability-height;
	font-family: $font;
	color: white;

	#available-answer
	{
		@extend .col-xs-6;
		@extend .col-sm-2;
		@extend .col-lg-offset-1;

		p
		{
			margin-top: $availability-height / 4;
			vertical-align: middle;
		}
	}

	.check-text
	{
		@extend .col-xs-12;
		@extend .col-sm-4;
		@extend .col-md-4;
		@extend .col-lg-3;
		font-size: 2em;
		margin-top: $avail-marg;
	}

	& > div
	{
		color: white;
	}

	& > div:not(.btn-blocky)
	{
		padding-top: 10px;
	}

	& > .gender-icon:hover:not(.btn-blocky) {
		background: rgba(255,255,255,0.3);
	}

	#sem-select {
		margin-top: $avail-marg;
		font-weight: bold;
	}
}

.marketing-bar
{
/* 	@extend .availability-bar; */
	font-size: 220%;
	vertical-align: middle;
	text-align: center;
	padding-top: $marketing-marg;
	min-height: $availability-height;
	position: relative;
	background: rgba(0,0,0,0.5);
	margin-top: -$availability-height;
}

.gender-icon
{
	float: left;
	text-align: center;
	cursor: pointer;
	height: $availability-height;

	img 
	{
		height: 60px;
	}
}

.btn-blocky
{
	border-radius: none;
	height: 5.8em;
	margin: 0;
	font-size: 1.2em;
	display: table-cell;

	p
	{
		margin-top: .5em;
	}
}

.success
{
	background-color: #5f7319;
	cursor: pointer;
}

.failure
{
	background-color: red;
}

.tiles
{
	@extend .row;
	margin-bottom: 100px;
}

.tile
{
	@extend .col-xs-12;
	@extend .col-sm-6;
	@extend .col-md-4;
}

.tile-picture
{
	@extend .img-responsive;
/* 	@extend .img-thumbnail; */
}

.inner-tile
{	
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	margin-top: 10px;
	height: 325px;
	display: block;

	& > h3, & > p
	{
		margin: 10px auto;
		text-align: center;
		font-family: $font;
	}

	button
	{
		margin-top: 50px;
	}
}

.tile-overlay
{
	position: relative;
	top: 249px;
	background: rgba(0,0,0,0.5);
	color: white;
	padding: 10px 12px;
	width: 100%;
}

#complex-tile > a
{
	background: image-url('building_cropped.png') no-repeat;
	background-size: cover;
  background-position: center;
}

#apartments-tile > a
{
	background: image-url('large_apt.jpg') no-repeat;
	background-size: cover;
  background-position: center;
}

#contracts-tile > a
{
	background: image-url('amenities_example.jpg') no-repeat;
	background-size: cover;
  background-position: center;
}

#local-hap-tile > a
{
	background: image-url('local-happenings.jpg') no-repeat;
	background-size: cover;
  background-position: center;
}

#maint-req-tile > a
{
	background: image-url('maintenance-request.jpg') no-repeat;
	background-size: cover;
  background-position: center;
}

#study-rm-tile > a
{
	background: image-url('study-room.jpg') no-repeat;
	background-size: cover;
  background-position: center;
}

#payment-tile > a
{
	background: image-url('payment.jpg') no-repeat;
	background-size: cover;
  background-position: center;
}

#contact-mngr > a
{
	background: image-url('managers.jpg') no-repeat;
	background-size: cover;
  background-position: center;
}

.circular
{
	width: 115px;
	height: 115px;
	border-radius: 60px;
	box-shadow: 0 0 8px rgba(0,0,5px,0.5);
	margin: 20px auto 35px;
}

.cir-img-complex
{
	background: image-url('building_art.jpg') no-repeat;
	background-size: 250px;
	background-position: center;
}

.cir-img-apartments
{
	background: image-url('large_apt.jpg') no-repeat;
	background-size: 250px;
	background-position: center;
}

.cir-img-amenities
{
	background: image-url('amenities_example.jpg') no-repeat;
	background-size: 250px;
	background-position: center;
}

.cir-img-reservations
{
	background: image-url('reserv_img.jpg') no-repeat;
	background-size: 250px;
	background-position: center;
}

.cir-img-tenants
{
	background: image-url('tenants_img.jpg') no-repeat;
	background-size: 250px;
	background-position: center;
}

.cir-img-gallery
{
	background: image-url('gallery_img.jpg') no-repeat;
	background-size: 250px;
	background-position: center;
}

#news, #social
{
	margin-top: 50px;
}

.opaque
{
	background-color: #9A9C99;
}

#session
{
	#margin-top: 25px;
}

.image > img
{
	padding: 0;
	width: 100%;
}

.opaque
{
	background-color: white;
	height: 100%;
}

.full-page
{
	padding: 10px;
}

.thumbnail .image
{
	@extend .img-responsive;
}

.thumbnails
{
	@extend .container;
	margin-top: 20px;
}

.dashboard
{
	@extend .container;
	height: 50%;
	background-color: whitesmoke;
}

.contact_manager
{
	color: maroon;
	text-decoration: none;
}

.map_canvas 
{
	@extend .col-md-6;
}

.buttonForm
{
	width: 100%;
	display: inline;

	button
	{
		margin-top: 0;
		width: 100%;
	}
}
