%nav.navbar.navbar-default{:role => "navigation"}
	.container-fluid
		.navbar-header
			%button.navbar-toggle{type: :button, 'data-toggle' => :collapse, 'data-target' => '#collapse'}
				%span.sr-only
					Toggle Navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			= link_to root_path, class: 'navbar-brand' do
				= image_tag 'windsorlogohorizA.jpg', id: :logo
	/.collapse.navbar-collapse#collapse
	/	%ul.nav.navbar-nav.nav-pills
	/		%li
	/			= link_to 'Home', root_path
