.navbar.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-header
      = link_to root_path, class: 'navbar-brand' do
        = image_tag 'logo-no-text.png'
      = link_to root_path, class: 'navbar-brand' do
        %h1 Windsor Manor
      .collapse
        - unless current_admin.nil?
          = link_to 'Logout', destroy_admin_session_path, method: :delete

.navbar-bottom      
