.navbar.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to :root, class: 'navbar-brand' do
        = image_tag 'logo.png'
    .navbar-collapse.collapse
      %form.navbar-form.navbar-right{:role => "form"}
        .form-group
          %input.form-control{:placeholder => "Email", :type => "email"}/
        .form-group
          %input.form-control{:placeholder => "Password", :type => "password"}/
        %button.btn.btn-success{:type => "submit"} Sign in
        - if admin_signed_in?
          = link_to 'Logout', destroy_admin_session_path, method: :delete
