.navbar.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-header
      = link_to root_path, class: 'navbar-brand' do
        = image_tag 'logo-no-text.png'
        %h1 Windsor Manor
